{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Blog - Aprendendo Django</title>
</head>
<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="btn btn-outline-primary btn-sm">
                    <a href="{% url 'new_post' %}">Nova postagem</a>
                </div>
                <div class="btn btn-outline-primary btn-sm">
                    <a href="{% url 'topics' %}">Assuntos</a>
                </div>
                <div class="btn btn-outline-primary btn-sm">
                    <a href="{% url 'posts' %}">Postagens</a>
                </div>
                <button class="btn btn-outline-primary btn-sm">
                    <a href="{% url 'index' %}">Home</a>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <a href="{% url 'index' %}">
                <h1>Blog - Aprendendo Django</h1>
            </a>
        </div>
    </div>
    {% block content %}
    {% endblock content %}

    {% bootstrap_javascript jquery='full' %}
</body>
</html>